<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Coders Mingle</title>
</head>
<body>
    <div class='container'>
        <main class='jumbotron text-center' style='padding:32px 32px'>
            <h1 class='display-1'>Coder's Mingle</h1>
            <hr>
            <h3>Answer a few basic questions</h3>
            <h3>Then find the developer with the greatest compatibility</h3>
            <a href='/survey'>
                <button id='button' class='btn btn-outline-dark btn-lg' style='margin-top:30px;'>Go to Survey</button>
            </a>
        </main>
        <a href='/api/developers'>API Developer List</a> <span> | </span> <a href='https://github.com/AlexHarris-Charlotte/Coders-Mingle'> Repository</a>
    </div>

    <script src='/JS/home.js'> </script>
</body>
</html>

