<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Survey</title>
</head>
<body>
    <div class='container'>
        <main>
            <h2>Survey Questions</h2>
            <hr>
            <h3>About You</h3>
            <p>Name (Required)</p>
            <input class='form-control' type='text' required id='userName'>
            <br>
            <p>Link to Photo Image (Required)</p>
            <input class='form-control' type='text' required id='image'>

            <hr>

            <h3 class='display-5'>Question 1</h3>
            <h3 class='display-6'>You enjoy working in an Agile Environment: </h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 2</h3>
            <h3 class='display-6'>You enjoy working within a development team:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 3</h3>
            <h3 class='display-6'>You prefer front-end frameworks more than Vanilla Javascript:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 4</h3>
            <h3 class='display-6'>You prefer Node.js to other backend languages:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 5</h3>
            <h3 class='display-6'>You prefer Vanilla Javascript over popular DOM abstraction libraries, such as jQuery:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 6</h3>
            <h3 class='display-6'>You are comfortable with Ecma Script 2015:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 7</h3>
            <h3 class='display-6'>You are comfortable with common node packages, such Express:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 8</h3>
            <h3 class='display-6'>You enjoy working in non-relational databases, such as Mongo_DB or Firebase:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 9</h3>
            <h3 class='display-6'>You are comfortable working with common CSS frameworks, such as Bootstrap or Foundation:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3 class='display-5'>Question 10</h3>
            <h3 class='display-6'>You consider yourself to be a fullstack Javascript developer:</h3>
            <select class='chosen-select' id="question1">
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        </main>
    </div>
</body>
</html>